@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
body {
  margin: 0;
  background-color: #ac5220;
}
.div {
  background-image: url(images/Union.png);
  color: black;
  background-size: contain;
  margin: auto;
  width: 500px;
  height: 500px;
  background-repeat: no-repeat;
}
.h1 {
  position: relative;
  font-family: "Inter", sans-serif;
  color: white;
  margin: 50px;
  font-size: 30px;
  top: 50px;
}
.p1 {
  position: relative;
  color: white;
  font-family: "Montserrat", sans-serif;
  margin: 50px;
  font-size: 15px;
  top: 20px;
}
.p2 {
  position: relative;
  color: white;
  font-family: "Montserrat", sans-serif;
  margin: 50px;
  font-size: 15px;
  bottom: 30px;
}
.pustota {
  width: 100px;
  height: 200px;
}
header {
  background-color: black;
  height: 50px;
}
header a {
  text-decoration: none;
  color: white;
  margin: 35px;
  font-size: 30px;
}
header > * {
  display: inline-block;
}
.primer {
  background-color: #ffffff;
  width: 70%;
  margin: auto;
  padding: 10px 50px;
  margin-left: 50px;
}

.primer img {
  width: 250px;
  height: 150px;
}

.p3 {
  font-family: "Inter", sans-serif;
  color: #1400ff;
  margin: 50px;
  font-size: 144px;
  top: 50px;
}

.contener {
  display: flex;
  align-items: center;
}

.background1 {
  background-color: #e5e5e5;
  padding: 50px;
  width: 60%;
  margin: auto;
  display: flex;
}

.background2 {
  background-color: #e5e5e5;
  padding: 50px;
  width: 60%;
  margin: auto;
  display: flex;
}
.background3 {
  background-color: #e5e5e5;
  padding: 50px;
  width: 60%;
  margin: auto;
  display: flex;
}
.background4 {
  background-color: #e5e5e5;
  padding: 50px;
  width: 60%;
  margin: auto;
  display: flex;
}

.otstup {
  margin-bottom: 50px;
}
.primer1 {
  width: 70%;
  margin: auto;
  margin: 50px;
}
.contener > h1 {
  font-size: 40px;
}
.primer1 > p {
  font-size: 20px;
}
.contener h1,
.contener p {
  width: 70%;
}
.otstup h1 {
  font-size: 40px;
}
.otstup p {
  font-size: 20px;
}
.primer .divider {
  height: 1px;
  width: 100%;
}
.primer2 {
  background-color: #ffffff;
  width: 70%;
  margin: auto;
  padding: 50px;
  margin: 50px;
}
.primer2 img {
  width: 360px;
  height: 250px;
}
.primer3 {
  width: 87%;
  margin: auto;
  margin: 50px;
}
.primer4 {
  width: 70%;
  margin: auto;
  margin: 50px;
  height: 130px;
}
.primer4 h1 {
  height: 10px;
}
.primer3 h1 {
  height: 10px;
}
.p4 {
  font-size: 24px;
}
